<a href="https://colab.research.google.com/github/ghaisanzada/KKASmt1/blob/main/1_Fungsi_print_Ghaisan_Abiyu_Zada_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Menampilkan Teks Bebas

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print("selamat datang di phyton")

selamat datang di phyton

In [ ]:
print('ghaisan abiyu zada')

ghaisan abiyu zada

# Menampilkan nilai variabel

In [ ]:
BB = 50
print(BB)

50

In [ ]:
umur = 16
print(umur)

16

In [ ]:
nama = "Ghaisan Abiyu Zada"

# menampilkan teks bebas dan variabel

In [ ]:
print(f"umur saya {umur} tahun")

umur saya 16 tahun

In [ ]:
print("halo", nama)

halo Ghaisan Abiyu Zada

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Rafael"
print("nama pembeli telur adalah" + nama_pembeli)

nama pembeli telur adalahRafael

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah" + str(harga_telur))

Harga telur per 1 kg adalah26000

#Escape character

In [ ]:
print("Nama : Ghaisan Abiyu Zada")
print("Kelas : XI.1")
print("Nomor Absen : 17")

Nama : Ghaisan Abiyu Zada
Kelas : XI.1
Nomor Absen : 17

In [ ]:
print("Nama\t\t: Ghaisan Abiyu Zada\nKelas\t\t: XI.1\nNomor Absen\t: 17")

Nama		: Ghaisan Abiyu Zada
Kelas		: XI.1
Nomor Absen	: 17

In [ ]:
print("""Nama : Ghaisan Abiyu Zada
Kelas : XI.1
Nomor Absen : 17""")

Nama : Ghaisan Abiyu Zada
Kelas : XI.1
Nomor Absen : 17

In [ ]:
print('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print("Bu Shinta berkata, \"semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "semua harus menyimak pelajaran."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran."')

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print("lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

lokasi file video karnaval ada di D:\Karnaval 2025\mp4

Latihan soal

1. Tampilkan teks bebas : Hari ini saya bahagia belajar bahasa phyton
2. Tampilkan nilai variabel : mata_pelajaran_favorit = kode dan kecerdasan buatan
3. Tampilkan nilai variabel: nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string, "+", ","):" Nilai KKA saya adalah {nilai_kka} loh!"

In [ ]:
print("Hari ini saya bahagia belajar bahasa phyton")

Hari ini saya bahagia belajar bahasa phyton

In [ ]:
mata_pelajaran_favorit = "kode dan kecerdasan buatan"
print(mata_pelajaran_favorit)

kode dan kecerdasan buatan

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
print("Nilai KKA saya adalah", nilai_kka,"loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
print("Nilai KKA saya adalah "+str(nilai_kka)+" loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 100 loh!

#Parameter Fungsi Print

In [ ]:
Tahun = 2008
Bulan = "Desember"
Tanggal = 27
print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

27 Desember 2008

In [ ]:
Tahun = 2008
Bulan = "Desember"
Tanggal = 27
print(Tanggal, Bulan, Tahun, sep="/")

27/Desember/2008

#Latihan

In [ ]:
Nama_depan = "Ghaisan"
Nama_belakang = "Zada"
print(Nama_depan, Nama_belakang)

Ghaisan Zada

In [ ]:
Nama_depan = "Ghaisan"
Nama_belakang = "Zada"
print(Nama_depan, end=" ")
print(Nama_belakang)

Ghaisan Zada

In [ ]:
Tahun = 2008
Bulan = "Desember"
Tanggal = 27
print(Tanggal, Bulan, Tahun, sep="-")

27-Desember-2008

In [ ]:
print('Bu Shinta berkata, \"berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester I\"\n')
print("Jadwal Pelajaran Mingguan")
print("==========================")
print("Jam\tsenin\t\tselasa\t\trabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa\'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester I"

Jadwal Pelajaran Mingguan
==========================
Jam	senin		selasa		rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

#Parameter Fungsi

In [ ]:
nama_siswa_1 = "Favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print(nama_siswa_2, nama_siswa_1, nama_siswa_3, nama_siswa_1, sep="~")

Naufal~Favian~Humaira~Favian

In [ ]:
print(nama_siswa_2, end="~")
print(nama_siswa_1)
print(nama_siswa_3, end="~")
print(nama_siswa_1)

Naufal~Favian
Humaira~Favian